<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Charts.Core" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Charts.Core.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Charts.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.CodeParser" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.CodeParser.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Dashboard.Core" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Dashboard.Core.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Data" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Data.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.DataAccess" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.DataAccess.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.DataAccess.UI" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.DataAccess.UI.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Diagram.Core" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Diagram.Core.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.ExpressApp.Images" version="19.2.5" targetFramework="net452" />
  <package id="DevExpress.Gauges.Core" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Gauges.Core.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Images" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Images.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Map.Core" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Map.Core.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Office.Core" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Office.Core.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Pdf.Core" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Pdf.Core.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.PivotGrid.Core" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.PivotGrid.Core.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Printing.Core" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Printing.Core.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Reporting.Core" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Reporting.Core.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.RichEdit.Core" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.RichEdit.Core.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.RichEdit.Export" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.RichEdit.Export.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Scheduler.Core" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Scheduler.Core.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Sparkline.Core" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Sparkline.Core.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.SpellChecker.Core" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.SpellChecker.Core.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.TreeMap.Core" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.TreeMap.Core.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Utils" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Utils.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Utils.UI" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Utils.UI.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.BonusSkins" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.BonusSkins.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.Charts" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.Charts.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.Diagram" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.Diagram.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.Gauges" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.Gauges.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.Grid" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.Grid.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.Map" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.Map.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.Navigation" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.Navigation.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.PivotGrid" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.PivotGrid.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.Printing" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.Printing.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.Reporting" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.Reporting.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.RichEdit" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.RichEdit.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.Scheduler" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.Scheduler.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.SchedulerExtensions" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.SchedulerExtensions.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.SchedulerReporting" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.SchedulerReporting.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.SpellChecker" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.SpellChecker.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.TreeList" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.TreeList.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.TreeMap" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.TreeMap.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.VerticalGrid" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Win.VerticalGrid.es" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Xpo" version="19.2.5" targetFramework="net46" />
  <package id="DevExpress.Xpo.es" version="19.2.5" targetFramework="net46" />
  <package id="Dropbox.Api" version="4.9.4" targetFramework="net452" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net452" />
  <package id="EPPlus" version="5.4.1" targetFramework="net452" />
  <package id="Microsoft.Build.Tasks.Git" version="1.1.1" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="1.1.1" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.1.1" targetFramework="net452" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="Npgsql" version="3.2.7" targetFramework="net46" />
  <package id="Octokit" version="0.50.0" targetFramework="net46" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net46" />
</packages>